@font-face {
    font-family: 'Freesentation';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-1Thin.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --accent: #F64A8A;
    --bg: #fafafa;
    --accentlight: #fff6f6;
    --accentlight2: #ffa8b7;
}

body, button, input, textarea, select {
    font-family: 'Freesentation';
}

h1, h2, h3 {
    color: var(--accent);
}

#title {
    font-size: 1.5em;
    color: var(--accent);
    margin-block-start: 0;
    display: flex;
    font-weight: 700;
    align-items: center;
}

body {
    background: var(--accentlight);
}

a {
    color: inherit;
}

.bx {
    font-size: 1.6em;
}

#wrapper {
    display: flex;
    gap: 12px;
}

#wrapper>div {
    border-radius: 15px;
    background: white;
    border: 1px dotted var(--accentlight2);
}

#content-box {
    height: fit-content;
}

#content-box, #timeline-box, #note-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 30vw;
    max-width: 400px;
}

#title-box, #post-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: calc(100% - 12px);
    max-width: 400px;
    margin: 10px auto;
}

#timeline-title, #note-title {
    width: 30vw;
    max-width: 400px;
    height: calc(100dvh - 16px);
}

#timeline-title>*, #note-title>* {
    width: calc(100% - 12px);
    margin: 10px auto;
}

input, textarea {
    max-width: -webkit-fill-available;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--accent);
    font-size: 1.05em;
}

button, select {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--accent);
    font-size: 1.05em;
    background-color: var(--accentlight);
    color: var(--accent);
}

button:disabled {
    background-color: white !important;
}

#others-box {
    display: flex;
    width: 100%;
    gap: 12px;
}

#others-box > div {
    width: 100%;
    height: calc(100vh - 320px);
    overflow: scroll;
}

#note-box, #timeline-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: calc(100dvh - 1.6em - 50px);
    overflow-y: scroll;
}

.notes {
    border: 1px solid var(--accent);
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 800px){

    #wrapper {
        flex-direction: column;
    }

    #wrapper > div {
        width: calc(100vw - 16px);
        margin: 0 auto;
    }

    #note-title {
        display: none;
    }
}